Source: sams2
Section: net
Priority: optional
Maintainer: Pavel Vinogradov <Pavel.Vinogradov@nixdev.net>
Build-Depends: debhelper (>= 9), automake, autotools-dev, libtool, libmysqlclient-dev | libmariadbclient-dev-compat | unixodbc-dev | libpq-dev, libpcre3-dev, libldap2-dev
Standards-Version: 3.9.5
Homepage: http://sams.perm.ru/
Vcs-Git: https://github.com/Magister/sams2
Vcs-Browser: https://github.com/Magister/sams2

Package: sams2
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Recommends: sams2-web, sams2-doc, mysql-client, squid | squid3
Suggests: squidguard, mariadb-server | mysql-server
Description: Squid Account Management System (SAMS) - Daemons
 This program basically used for administrative purposes of squid proxy.
 There are access control for users by ntlm, ncsa, basic or ip
 authorization mode.
 .
 This package contain deamons program to parse squid log files and 
 generate squid conf-files.

Package: sams2-web
Section: web
Architecture: all
Depends: ${misc:Depends}, apache2 | httpd | nginx, libapache2-mod-php | php-fpm, php-mysql, php-gd
Recommends: sams2-doc
Suggests: php-ldap, php-fpdf
Description: Squid Account Management System (SAMS) - Web interface
 This program basically used for administrative purposes of squid proxy.
 There are access control for users by ntlm, ncsa, basic or ip
 authorization mode.
 .
 This package contain web-interface to access collected statistic and
 manage user access to proxy server

Package: sams2-doc
Section: doc
Architecture: all
Depends: ${misc:Depends}, doxygen
Description: Squid Account Management System 2 (SAMS) - Documentation
 The sams2-doc package includes the HTML versions of the "Using SAMS2".
